.git
.github
.dvc
.venv*
venv*
__pycache__/
*.pyc
.DS_Store
logs/
tmp/
data/
out_frame0_cam0.png
scripts/out_frame0_cam0.png
scripts/out_frame0_cam1.png
waymo-open-dataset/.git
waymo-open-dataset/src
waymo-open-dataset/docs

