# =====================
# Python / Virtualenv
# =====================
.venv*
venv*
.env
__pycache__/
*.pyc
.ipynb_checkpoints/

# =====================
# VS Code
# =====================
.vscode/

# =====================
# OS
# =====================
.DS_Store

# =====================
# Data (tracked by DVC, not Git)
# =====================
data/bronze/
data/silver/
data/gold/
data/raw/
data/processed/

# =====================
# Spark / Big data
# =====================
*.parquet
_SUCCESS

